{% extends 'admin/master.html' %}

{% block body %}
{% if current_user.is_authenticated %}
<h2 class="text-success text-center">Xin chào <span>{{current_user.name}}!</span></h2>

<h2 class="text-center">Báo cáo doanh thu theo tháng</h2>

<div class="col-md-4 mt-3">
    <label for="selectMonth" class="form-label">Chọn tháng:</label>
    <input type="date" class="form-control" id="selectMonth" name="selectMonth">
</div>

<div class="row mt-3">
    <div class="col-md-7 col-12">
        <table class="table">
            <thead>
            <tr>
                <th>STT</th>
                <th>Tuyến bay</th>
                <th>Doanh thu</th>
                <th>Số lượt bay</th>
                <th>Tỷ lệ</th>
            </tr>
            </thead>
            <tbody>
            {% set idx = 1 %}
            {% for data in stats %}
            <tr>
                <td>{{ idx }}</td>
                <td>{{ data.route_name }}</td>
                <td>{{ "{:,.0f}".format(data.total_revenue) }}</td>
                <td>{{ data.total_flights }}</td>
                <td>{{ "{:,.2f}".format((data.total_revenue / total_revenue) * 100) }}%</td>
            </tr>
            {% set idx = idx + 1 %}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="h5">Tổng doanh thu: {{ "{:,.0f}".format(total_revenue) }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-md-5 col-12">
        <canvas id="myChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels = [];
    let data = [];
    {% for s in stats %}
        data.push({{ s.total_revenue }});
        labels.push('{{ s.route_name }}');
    {% endfor %}
    window.onload = function() {
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: labels,
            datasets: [{
              label: '# Doanh thu',
              data: data,
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
    }
</script>

{% else %}
<h3 class="text-center text-info mt-1">ĐĂNG NHẬP QUẢN TRỊ</h3>
<form method="post" action="/admin-login">
    <div class="form-group mb-3 mt-3">
        <label for="username">Tên đăng nhập</label>
        <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username"
               pattern="[a-zA-Z0-9]*" required>
    </div>

    <div class="form-group mt-3 mb-3">
        <label for="password">Mật khẩu</label>
        <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password" required>
    </div>

    <div class="form-floating mt-3 mb-3">
        <button class="btn btn-success" type="submit">Đăng nhập</button>
    </div>
</form>
{% endif %}
{% endblock %}

