{% extends 'layout/base.html' %}

{% block title %}Đăng ký{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center text-info mt-1">ĐĂNG KÝ TÀI KHOẢN</h1>
        {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
        {% endif %}
        <form method="post" action="/register" enctype="multipart/form-data">
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="name" class="form-label">Họ tên</label>
                    <input type="text" class="form-control" id="name" placeholder="Họ tên" name="name" required>
                </div>
                <div class="col-md-6">
                    <label for="username" class="form-label">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username" required>
                </div>
                <div class="col-md-6">
                    <label for="password" class="form-label">Mật khẩu</label>
                    <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password" required>
                </div>
                <div class="col-md-6">
                    <label for="confirm" class="form-label">Xác nhận mật khẩu</label>
                    <input type="password" class="form-control" id="confirm" placeholder="Xác nhận mật khẩu" name="confirm" required>
                </div>
                <div class="col-md-6">
                    <label for="avatar" class="form-label">Ảnh đại diện</label>
                    <input type="file" accept=".png,.jpg" class="form-control" id="avatar" name="avatar">
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                </div>
                <div class="col-md-6">
                    <label for="phone" class="form-label">Số điện thoại</label>
                    <input type="tel" class="form-control" id="phone" placeholder="Số điện thoại" name="phone" required>
                </div>
                <div class="col-md-6">
                    <label for="cccd" class="form-label">CCCD</label>
                    <input type="tel" class="form-control" id="cccd" placeholder="CCCD" name="cccd" required>
                </div>
                <div class="col-md-6">
                    <label for="birthday" class="form-label">Ngày sinh</label>
                    <input type="date" class="form-control" id="birthday" name="birthday" required>
                </div>
                <div class="col-12">
                    <button class="btn btn-success" type="submit">Đăng ký</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
